/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "bulma";

body {
  margin: 0;
  background-image: image-url("pink_paws.png");
  padding-top: 4rem !important;
}

.logo {
  height: 3.5rem;
}

.column {
  background-color: #fff;
}

.alert {
  font-weight: bold;
}

.alert-notice {
  color: #008b8b;
}

.alert-error {
  color: red;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: end;
}

.main_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.reverse a {
  color: hsl(0, 0%, 21%) !important;
}

.reverse a :hover {
  color: hsl(229, 53%, 53%) !important;
}

.inline_block {
  display: inline-block !important;
}

.is-aqua-green {
  background-color: #88bfbf !important;
  color: #fff !important;
  border: none !important;
}

.is-pink {
  @extend .is-aqua-green;
  background-color: #fbb !important;
}

.footer {
  background-color: #fff !important;
}
