/* 体験記index */
.index_icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.index_image {
  width: 150px;
  height: 150px;
  border-radius: 3%;
  object-fit: cover;
}

.txt-limit {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 体験記投稿 */
.blog-attach-images {
  display: flex;
  flex-wrap: wrap;
}

.blog-attach-images span {
  margin: 0 10px;
}

.btn_detail {
  display: inline-block;
  position: relative;
  margin: 5px;
  font-size: 0.7rem;
}

.btn_detail input {
  opacity: 0;
  position: absolute;
  left: 0;
}

.btn_detail label {
  padding: 5px 10px;
  border-radius: 8px;
  background: #eee;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.btn_detail label:hover,
.btn_detail input:checked + label {
  background: #09c;
  color: #fff;
}

/* ユーザー・猫の体験記リスト */
.border {
  border-top: 1px solid rgba(219, 219, 219, 0.5);
}

/* 体験記詳細画面 */
.blog_cat_icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

/* メイン画像 */
.blog-main-img {
  overflow: hidden;
  padding-top: 70%;
  position: relative;
}

.blog-main-img img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

/* サブ画像 */
.blog-image ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 !important;
}
.blog-image li {
  list-style: none;
  margin: 0 2%;
}
.blog-sub-img {
  cursor: pointer;
  padding-top: 10%;
  position: relative;
  width: 10%;
}

.blog-sub-img img {
  border: 2px solid transparent;
  border-radius: 10%;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  width: 100%;
}

.blog-sub-img.is_active img {
  border: 2px solid #fbb;
}
