/* 体験記index */
.index_icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.txt-limit {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 体験記投稿 */
.btn_detail {
  display: inline-block;
  position: relative;
  margin: 3px;
  font-size: 0.5rem;
}

.btn_detail input {
  opacity: 0;
  position: absolute;
  left: 0;
}

.btn_detail label {
  padding: 5px 10px;
  border-radius: 8px;
  background: #eee;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.btn_detail label:hover,
.btn_detail input:checked + label {
  background: #09c;
  color: #fff;
}
