/* アコーディオン */
.accordion {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 16px 0 0 0;
  cursor: pointer;
}

.menu {
  position: relative;
  padding: 0 30px;
  font-weight: bold;
  cursor: pointer;
}

/* (+)アイコン */
.menu::before,
.menu::after {
  content: "";
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: #88bfbf;
  width: 20px;
  height: 4px;
  transition: all 0.3s;
}

.menu::after {
  transform: rotate(90deg);
}

.contents {
  text-align: center;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.4s;
}

.contents.is-open {
  border: none;
  padding: 5px;
  line-height: normal;
  height: auto;
  opacity: 1;
}

/* アコーディオン展開時の(-)アイコン */
.menu.is-active.menu::before {
  transform: rotate(180deg);
}

.menu.is-active.menu::after {
  transform: rotate(180deg);
  opacity: 0;
}

/* チェックボックスをボタンに */
.btn_check {
  display: inline-block;
  position: relative;
  margin: 3px;
  font-size: 0.8rem;
}

.btn_check input {
  opacity: 0;
  position: absolute;
  left: 0;
}

.btn_check label {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background: #eee;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.btn_check label:hover,
.btn_check input:checked + label {
  background: #fbb;
  color: #fff;
}

/* ラジオボタン */
.radio-area {
  position: relative;
  margin: 0.7rem 15%;
  padding: 0.7rem;
  z-index: 0;
}

.radio-area input[type="radio"] {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-top: -4px;
  margin-left: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #fff;
  appearance: none;
  vertical-align: middle;
  transition: 0.3s;
}

.radio-area label {
  cursor: pointer;
  margin-left: 10px;
}

.radio-area input[type="radio"]:checked {
  background-color: #fbb;
}

.radio-area input[type="radio"]::before {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #eee;
  content: "";
  z-index: -1;
}

.radio-area input[type="radio"]:checked::before {
  background-color: #fbb;
}

.radio-area input[type="radio"]:checked + label {
  color: #fff;
}

/* ローディングアニメーション */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loading-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
}

/* ChatGpt結果表示書式 */
.ChatGpt_result {
  white-space: pre-wrap;
  word-break: break-all;
}
