/* 猫情報リスト */
.cat_icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.box-parent {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
.box-child {
  height: auto;
  margin: 0 2%;
}

.card-cat {
  width: 215px;
}

/* 体験記リストへ */
.font-lil-bigger {
  font-size: 1.1rem;
  font-weight: bold;
}
